In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/anbar/Downloads/Sales.csv")
df.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD

In [ ]:
df.info()

In [4]:
df['Order Number'].isna().sum()

np.int64(0)

In [5]:
df['Line Item'].isna().sum()

np.int64(0)

In [6]:
df['Order Date'].isna().sum()

np.int64(0)

In [7]:
df['Delivery Date'].isna().sum()      #totally 49719 values are found missing in the column delivery date

np.int64(49719)

In [8]:
df['CustomerKey'].isna().sum()

np.int64(0)

In [9]:
df['StoreKey'].isna().sum()

np.int64(0)

In [10]:
df['ProductKey'].isna().sum()

np.int64(0)

In [11]:
df['Quantity'].isna().sum()

np.int64(0)

In [12]:
df['Currency Code'].isna().sum()

np.int64(0)

In [14]:
df['Delivery Date']=pd.to_datetime(df['Delivery Date'])

In [15]:
df['Order Date']=pd.to_datetime(df['Order Date'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   Delivery Date  13165 non-null  datetime64[ns]
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: datetime64[ns](2), int64(6), object(1)
memory usage: 4.3+ MB

In [17]:
df

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD
...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2021-02-20,NaT,1216913,43,632,3,USD
62880,2243031,1,2021-02-20,2021-02-24,511229,0,98,4,EUR
62881,2243032,1,2021-02-20,2021-02-23,331277,0,1613,2,CAD
62882,2243032,2,2021-02-20,2021-02-23,331277,0,1717,2,CAD
62883,2243032,3,2021-02-20,2021-02-23,331277,0,464,7,CAD

In [18]:
path=r"C:/Users/anbar/OneDrive/Desktop/Global electronics/df_sales.csv"
df.to_csv(path,index=False)